%h1.fs-4
  %i.bi.bi-file-person
  マイページ
%nav.nav.p-2.justify-content-center
  = link_to '作成したイベント', my_events_path, class: 'nav-link'
  = link_to 'いいねしたイベント', '#', class: 'nav-link'
  = link_to '参加予定のイベント', '#', class: 'nav-link'
  = link_to '参加済みのイベント', '#', class: 'nav-link'
